body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	/*height: 100%;*/
	background: url('../images/back_2.png');
}

a {
	color: black;
	text-decoration:none;
}

/* header */
#header {
	width: 100%;
	min-width: 1200px;
	height: 50px;
	background-color: rgba(182,168,131);
	color: white;
	font-size: 14px;
	/*border: 1px solid gray;*/
	/*background: rgba(179,163,120,0.3);*/
	/*background:rgba(182,168,131,0.6);*/
}

#header_left {
	width: 600px;
	height: 50px;
	/*background: yellow;*/
	float: left;
}

#header_right {
	width: 600px;
	height: 50px;
	/*background: yellow;*/
	float:right;
}

#scrollbar {
	margin-left: 100px;
	line-height: 50px;
	/*background: red;*/
}

#ontrial {
	margin-left: 300px;
	line-height: 50px;
}

#register {
	margin-left: 60px;
	line-height: 50px;
}

/* entrance */
#entrance {
	width: 100%;
	min-width: 1200px;
	height: 150px;
	border-top: 1px solid gray;
	/*background-color: rgba(182,168,131);*/
	background: url('../images/header.jpg');
	/*background:rgba(182,168,131,0.6);*/
	/*background: url('../images/logo_3.jpg');*/
	background-size: 100% 100%;
}

#entrance_left {
	width: 600px;
	height: 150px;
	/*background: yellow;*/
	float: left;
}

#web_name {
	margin-left: 100px;
	line-height: 150px;
	font-size: 30px;
}

#logo {
	margin-left: 100px;
	line-height: 150px;
}

#entrance_right {
	margin: 90 0 0 0;
	padding: 0px;
	width: 600px;
	list-style: none;
	font-size: 20px;
	float: left;
}

#entrance_right li {
	margin-left: 20px;
	/*line-height: 150px;*/
	float: left;
	font-family: '楷体';
}

/*#entrance_right a {
	color: black;
	text-decoration:none;
}*/

/* all_search */
#all_search {
	width: 100%;
	min-width: 1200px;
	/*height: 150px;*/
	padding-bottom: 10px;
	border: 1px solid gray;
	/*background: rgba(179,163,120,0.5);*/
	background: url('../images/header_1.jpg');
	background-size: 100% 100%;
}

/*#book_category {
	width: 100%;
	height: 30px;
}

#book_category ul {
	width: 600px;
	height: 30px;
	margin: 0 auto;
	list-style: none;
}

#book_category li {
	margin: 0 20px;
	line-height: 28px;
	float: left;
}*/

#complex_search {
	width: 100%;
	height: 40px;
	padding-top: 10px;
	/*background: gray;*/
}

#complex_search div{
	float: left;
}

#resources_search, #search_button, #high_search{
	padding-top: 15px;
}

#left_header {
	width: 100%;
	height: 41px;
	background-color: rgba(182,168,131);
	/*background: red;*/
	/*text-align: center;*/
}

.left_header_name {
	margin-left: 20px;
	font-size: 14px;
	line-height: 40px;
}

#resources_search {
	margin-left: 291px;
}

#search_key {
	margin-left: 15px;
	margin-right: 10px;
	padding-left: 15px;
	padding-right: 15px;
	width: 550px;
	height: 35px;
	font-size: 20px;
	/*border-radius: 10px;*/	/* 添加圆角 */
	/* border: 1px solid #DBDBDB;*/	/* 去除阴影 */
	background: #f3f3f3;
}

#high_search {
	margin-left: 15px;
}

#all_field, #hot_search {
	width: 100%;
	height: 20px;
	/*background: red;*/
}

#all_field ul, #hot_search ul {
	width: 600px;
	height: 20px;
	margin: 0 auto;
	padding-left: 55px;
	padding-top: 5px;
	list-style: none;
}

#all_field li {
	margin: 0 10px;
	font-size: 12px;
	float: left;
}

#checkbox-d input {
	/* 多选框对齐 */
	vertical-align:text-bottom;margin-bottom: 1px;
}

#hot_search {
	margin-top: 5px;
}

#hot_search ul {
	padding-left: 45px;
}

#hot_search li {
	margin: 0 15px;
	font-size: 12px;
	float: left;
}

/* resources */
#resources {
	width: 100%;
	/*height: 100%;*/
	padding-top: 40px;
	float:left;
	border: 1px solid gray;
}

#tree_list {
	width: 300px;
	/*height: 800px;*/
	/*height: 100%;*/
	margin-left: 100px;
	/*overflow:auto;*/	/* 超出部份下拉 */
	float: left;
	/*border: 1px solid gray;*/
}

#tree_list #header_ul {
	margin-top: 8px;
	padding-top: 3px;
	padding-bottom: 8px;
	list-style-type: decimal;
	background: rgba(205,196,181);
}

.nav {
	font-size: 14px;
}

.nav ul {
	list-style-type: none;
}

.left_title {
	padding: 5 0 0 0;
	width: 100%;
	height: 20px;
}

#tree_list li {
	margin-top: 5px;
	margin-bottom: 10px;
}

.cate_wbid {
	font-size: 12px;
	padding: 5 0 5 0;
}

#books_list {
	width: 715px;
	/*height: 780px;*/
	/*height: 100%;*/
	margin-left: 30px;
	/*border: 1px solid gray;*/
	float: left;
}

#navigation {
	width: 100%;
	height: 40px;
	text-align: center;
	border: 1px solid #7B7B7B;
	background-color: rgba(231,226,215);
}

#navigation_content {
	width: 300px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	float:left;
	margin-left: 20px;
	font-size: 15px;
}

#navigation_content {
	/*text-anchor: */
}

#sort {
	width: 380px;
	height: 40px;
	text-align: center;
	float:right;
	font-size: 14px;
}

#content_list {
	width: 715px;
	/*height: 690px;*/
	/*height:100%;*/
	/*height:200px;*/
	min-height:700px;
	/*height:auto!important;*/
	/*overflow:auto;*/
	/*float:left;*/
	margin: 7 0 0 0;
	padding-bottom: 20px;
	border: 1px solid #7B7B7B;
	background-color: rgba(218,213,193);
	/*float:left;*/
}

#sort_content {
	line-height: 40px;
	text-align: right;
	margin-right: 20px;
	line-height: 45px;
}


#content_list ul {
	width: 715px;
	/*height: 100%;*/
	margin: 0px;
	padding: 0px;
	list-style: none;
	/*float:left;*/
	/*background-color: rgba(218,213,193);*/
}

#content_list li {
	width: 335px;
	height: 204px;
	float: left;

	/*border: 1px solid gray;*/
	/*background-color: rgba(231,226,215);*/
	background-color: rgba(241,234,213);

}

.content_image {
	width: 130px;
	height: 145px;
	margin: 11 0 0 11;
	float: left;
	/*border: 1px solid gray;*/
}

.content_image img {
	width: 119px;
	height: 145px;
}

.content_info {
	width: 180px;
	height: 145px;
	margin: 15 0 0 5;
	padding: 0px;
	float: left;
	/*border: 1px solid gray;*/
}

.info_frame {
	margin-top: 5px;
	/*line-height: 15px;*/
	width: 172px;
	width: 11em;
	/*display: inline-block;*/
	/*text-overflow: ellipsis;*/
	/*overflow: hidden;*/
	color: #446D6D;
	white-space: nowrap;
	font-size: 13px;
}

.content_info a {
	width: 100px;
	height: 20px;
	/*float: left;*/
}

.info_list {
	display:inline-block;
	width: 100px;
	height: 20px;
	color: #5B5B5D;
}

.content_href {
	margin-left: 10px;
	margin-top: 10px;
	width: 313px;
	height: 30px;
	float: left;
	border-top: 1px solid #A8A8A8;
}

.content_href a {
	font-size: 13px;
	color: #446D6D;
	line-height: 30px;
	margin-left: 40px;
}

#page {
	width: 715px;
	height: 40px;
	margin: 5 0 60 0;
	text-align: center;
	border: 1px solid #7B7B7B;
	background:rgba(231, 226, 215);
	display:inline-block;
	line-height: 14px;
	font-size: 14px;
}

#page span {
	display:inline-block;
	margin-top: 4px;
	
}

#page .page {
	/*border:1px solid #C1BA9E;*/
}

/* footer */
#footer {
	width: 100%;
	height: 50px;
	padding: 14 0 8 0;
	border: 1px solid gray;
	/*background-color: rgba(182,168,131);*/
	font-size: 14px;
	float:left;
	background: url('../images/footer.jpg');
}


#footer_info_1 {
	width: 220px;
	height: 25px;
	margin: 0 auto;
}

/*#footer_info_1 a {
	color: black;
	text-decoration:none;
}*/

#footer_info_2 {
	width: 140px;
	height: 25px;
	margin: 0 auto;
}

[v-cloak] {
    display: none;
    display: none !important;
}

.clear{clear:both;}